{{#each picture}}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{this.date}}</h5>
                <p class="card-text">Year: {{this.explanation}}</p>
                <p class="card-text">Title: <span class="badge bg-primary">{{this.title}}</span> </p>
            </div>
        </div>
    </div>
{{/each}}